<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% newListItems.forEach(function(element){  %>
      <div class="item">
     <form action="/delete" method="post">

       <input type="checkbox" name="checkBox" value="<%= element._id%>" onchange="this.form.submit()">
       <p style="display: inline-block;"><%=  element.title  %></p>
      </form>
      </div>
      <% }) %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list">+</button>
      </form>
  </div>

<%- include("footer") -%>
