<%- include('header') %>
<body>
   <div class="box" id="heading">

       <h1> <%= today %> </h1>
   </div>

 <div class="box">
     <ul>
         <%for(var i = 0; i < newItems.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p> <%= newItems[i] %></>

            </div>
   <% } %>
     </ul>

     
     <form class="item" action="/" method="post">
         <input type="text" name="list" placeholder="new item" autocomplete="off">
         <button type="submit" name="button" value= <%= today %>>+</button>
        </form>
    </div>
</body>

<%- include('footer') %>
 